@import url('https://fonts.googleapis.com/css2? family=Aref+Ruqaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Chivo:wght@300;700;900&display=swap');
body {
    margin: 0;
    background-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

#cajacabecera {
    width: 100%;
    background: #684815;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

#cabecera {
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    margin: auto;
}

#logo {
    width: 10%;
    padding: 4px 0;
    margin-right: 110px;
}

.menu {
    width: 100%;
}

#btn-menu {
    display: none;
}

#mmovil {
    font-size: 30px;
    cursor: pointer;
    display: none;
    text-align: right;
    color: #edbc65;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li a {
    display: block;
    line-height: 85px;
    padding: 0 20px;
    color: #FFBB00;
    text-decoration: none;
    font-family: "Palanquin Dark", sans-serif;
    font-size: 13px;
}

.menu ul li a i {
    padding-right: 6px;
}

.menu a:hover {
    color: #edbc65;
    border-bottom: 2px solid #edbc65;
}


/* RESPONSIVE EL MENU DE NAVEGACION EN DISPOSITIVOS 1087 */

@media (max-width: 1087px) {
    #cabecera {
        justify-content: space-between;
    }
    #logo {
        width: 20%;
        display: block;
        padding-left: 20px;
    }
    .menu {
        position: absolute;
        top: 100%;
        transform: translateX(-100%);
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;
        background: #50350a;
        opacity: 75%;
    }
    .menu ul li a {
        line-height: 45px;
        padding: 0 20px;
        border-bottom: 2px solid #6848;
    }
    #mmovil {
        display: block;
        padding-right: 20px;
    }
}

#btn-menu:checked~.menu {
    transform: translateX(0%);
}


/* ****************** */


/* *****BANNER********* */


/* ****************** */

.section {
    width: 100%;
    margin: 0;
}

.inicio {
    background-image: url("../img/banner1.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    padding-top: 150px;
    overflow: hidden;
}

.nube1 {
    width: 100%;
    max-width: 396px;
    position: absolute;
    left: 2%;
    top: 14%;
    height: auto;
    display: block;
    animation: nubeone 10s linear infinite;
}

@keyframes nubeone {
    from {
        left: -30%;
    }
    to {
        left: 110%;
    }
}

.nube2 {
    width: 100%;
    max-width: 491px;
    position: absolute;
    right: 2%;
    top: 18%;
    height: auto;
    display: block;
    animation: nubedos 10s linear infinite;
}

.ave1 {
    display: block;
    position: absolute;
    left: 28%;
    top: 22%;
}

@keyframes nubedos {
    from {
        right: -20%;
    }
    to {
        right: 110%;
    }
}

.ave2 {
    display: block;
    position: absolute;
    left: 40%;
    top: 35%;
}

.ave3 {
    display: block;
    position: absolute;
    left: 48%;
    top: 30%;
}

.ave4 {
    display: block;
    position: absolute;
    left: 60%;
    top: 24%;
}

.nave {
    width: 100%;
    max-width: 296px;
    height: auto;
    display: block;
    position: absolute;
    bottom: 0;
    left: 10%;
}

.tren {
    width: 100%;
    max-width: 704px;
    height: auto;
    display: block;
    position: absolute;
    bottom: 0;
    right: -15%;
    animation: tren 10s linear infinite;
}

@keyframes tren {
    from {
        right: -30%;
    }
    to {
        right: 110%;
    }
}

#contenido-inicio {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

h1 {
    font-family: 'Aref Ruqaa';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 125px;
    text-align: center;
    color: #FFFFFF;
}

.tit1 {
    margin: 0;
}

.tit2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.scroll {
    display: block;
    margin: auto;
}


/* RESPOSIVE DESIGN TREN Y NAVE */

@media (max-width:630px) {
    .nube1 {
        max-width: 141px;
        top: 19%;
    }
    .nube2 {
        max-width: 142px;
        top: 22%;
    }
    .tren {
        max-width: 429px;
        right: -48%;
    }
    .nave {
        max-width: 146px;
        left: 5%;
    }
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .tit2 {
        font-size: 22px;
    }
    .scroll {
        max-width: 10%;
    }
    #contenido-inicio {
        padding-top: 30%;
    }
    .ave4 {
        top: 70%;
    }
    .ave2 {
        top: 65%;
    }
}


/* ++++++++++++++++++++++++++++++++++++++++++++++ */


/* +++++++++++++LO QUE HACEMOS++++++++++++++++++++++ */


/* ++++++++++++++++++++++++++++++++++++++++++++++ */

.quehacemos {
    background-color: #FFFFFF;
    background-image: url("../img/fondo-ciudad.png");
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 150px;
}

.nube-gris1 {
    width: 100%;
    max-width: 396px;
    position: absolute;
    left: 2%;
    top: 13%;
    height: auto;
    display: block;
}

.nube-gris2 {
    width: 100%;
    max-width: 370px;
    position: absolute;
    right: 2%;
    top: 18%;
    height: auto;
    display: block;
}

.contenidos {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    position: relative;
}

.cajatitulosAC {
    border-bottom: 4px solid #FFBB00;
    padding: 10px 0;
    margin-bottom: 29px;
}

.cajatitulosAC h2 {
    font-family: 'Aref Ruqaa';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 79px;
    text-align: center;
    color: #140202;
}

.cajatitulosAC h3 {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #707070;
}

.cajacolumnas {
    display: flex;
}

.columnas {
    width: 25%;
    padding: 0 2%;
}

.columnas h2 {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #919191;
}

.columnas img {
    display: block;
    margin: auto;
}

.columnas p {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #919191;
}

#nubeamarilla {
    width: 100%;
    max-width: 776px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../img/nube-amarilla.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 204px;
    padding: 7% 3%;
}

#nubeamarilla p {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FCFCFC;
}


/* RESPONSIVE QUE HACEMOS */

@media (max-width: 800px) {
    .quehacemos {
        background-size: 1300px auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .clientes {
        background-size: 1300px auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contactenos {
        background-size: 13300px auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .nube-gris1 {
        max-width: 146px;
        top: 10%;
    }
    .nube-gris2 {
        max-width: 146px;
        top: 8%;
    }
    .cajacolumnas {
        flex-direction: column;
    }
    .columnas {
        width: 95%;
        padding: 0 2%;
        margin: auto;
        margin-bottom: 10px;
    }
    #nubeamarilla {
        width: 95%;
        padding: 2% 3%;
        background: #FFBB00;
        border-radius: 10px;
        height: auto;
        margin: auto;
    }
    .cajatitulos h2 {
        font-size: 24px;
    }
    .cajatitulos h3 {
        font-size: 20px;
    }
    .scroll {
        padding-top: 20px;
    }
}


/* ++++++++++++++++++++++++++++++++++++++++++++++ */


/* +++++++++++++QUE OFRECEMOS++++++++++++++++++++++ */


/* ++++++++++++++++++++++++++++++++++++++++++++++ */

.queofrecemos {
    background-color: #38332b;
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 150px;
}

.queofrecemos .scroll {
    margin-top: 30px;
}

.cajatitulososcuro {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    border-bottom: 4px solid #FFBB00;
    padding: 10px 0;
    margin-bottom: 20px;
}

.cajatitulososcuro h2 {
    font-family: 'Aref Ruqaa';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: #fcf6f6;
}

.cajatitulososcuro h3 {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #FAF7F7;
}

.servicios {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.servicios h2 {
    display: block;
    background: #3C3C3B;
    text-align: center;
    line-height: 40px;
    color: #FFFFFF;
    font-family: 'Chivo';
    font-size: 16px;
    font-weight: 600;
    margin: 0%;
    text-decoration: none;
}

.servicios li {
    margin-right: 1%;
}

.servicios li a {
    text-decoration: none;
}


/* RESPONSIVE PARA 800PX */

@media (max-width: 800px) {
    .queofrecemos {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .cajatitulososcuro h2 {
        font-size: 24px;
    }
    .cajatitulososcuro h3 {
        font-size: 20px;
    }
}


/* ++++++++++++++++++++++++++++++++++++++++++++++ */


/* +++++++++++++NUESTROS CLIENTES++++++++++++++++++++++ */


/* ++++++++++++++++++++++++++++++++++++++++++++++ */

.clientes {
    background-color: #FFFFFF;
    background-image: url("../img/fondo-ciudad.png");
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 150px;
}

.nube-gris1 {
    width: 100%;
    max-width: 396px;
    position: absolute;
    left: 2%;
    top: 13%;
    height: auto;
    display: block;
}

.nube-gris2 {
    width: 100%;
    max-width: 370px;
    position: absolute;
    right: 2%;
    top: 18%;
    height: auto;
    display: block;
}

.nube1 {
    width: 100%;
    max-width: 396px;
    position: absolute;
    left: 2%;
    top: 14%;
    height: auto;
    display: block;
    animation: nubeone 10s linear infinite;
}

@keyframes nubeone {
    from {
        left: -30%;
    }
    to {
        left: 110%;
    }
}

.nube2 {
    width: 100%;
    max-width: 491px;
    position: absolute;
    right: 2%;
    top: 18%;
    height: auto;
    display: block;
    animation: nubedos 10s linear infinite;
}

@keyframes nubedos {
    from {
        right: -20%;
    }
    to {
        right: 110%;
    }
}

.contenidos {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    position: relative;
}

.cajatitulosCL {
    border-bottom: 4px solid #FFBB00;
    padding: 10px 0;
    margin-bottom: 29px;
}

.cajatitulosCL h2 {
    font-family: 'Aref Ruqaa';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 79px;
    text-align: center;
    color: #140202;
}

.cajatitulosCL h3 {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #707070;
}


/* RESPONSIVE PARA 800PX */

@media (max-width: 800px) {
    .queofrecemos {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .cajatitulososcuro h2 {
        font-size: 24px;
    }
    .cajatitulososcuro h3 {
        font-size: 20px;
    }
}


/* ++++++++++++++++++++++++++++++++++++++++++++++ */


/* +++++++++++++PORTAFOLIO++++++++++++++++++++++ */


/* ++++++++++++++++++++++++++++++++++++++++++++++ */

.portafolio {
    background-color: #38332b;
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 150px;
}

.portafolio .scroll {
    margin-top: 30px;
}

.cajatitulosPF {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    border-bottom: 4px solid #FFBB00;
    padding: 10px 0;
    margin-bottom: 20px;
}

.cajatitulosPF h2 {
    font-family: 'Aref Ruqaa';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: #F4EDED;
}

.cajatitulosPF h3 {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #FAF7F7;
}

.servicios {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.cajacolumnas {
    display: flex;
    place-content: center;
}

.columnas {
    width: 25%;
    padding: 2%;
}

.columnas img {
    display: block;
    margin: 0;
}

.servicios {
    display: flex;
    margin: auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

.servicios h2 {
    display: block;
    background: #3C3C3B;
    text-align: center;
    line-height: 40px;
    color: #FFFFFF;
    font-family: 'Chivo';
    font-size: 16px;
    font-weight: 600;
    margin: 0%;
    text-decoration: none;
}

.servicios li {
    margin-right: 1%;
}

.servicios li a {
    text-decoration: none;
}


/* RESPONSIVE PARA 800PX */

@media (max-width: 800px) {
    .portafolio {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .cajatitulososcuro h2 {
        font-size: 24px;
    }
    .cajatitulososcuro h3 {
        font-size: 20px;
    }
}


/* ++++++++++++++++++++++++++++++++++++++++++++++ */


/* +++++++++++++FOOTER++++++++++++++++++++++ */


/* ++++++++++++++++++++++++++++++++++++++++++++++ */

#piepagina {
    background-color: #cc982a;
    padding: 2% 0;
}

.cajapie {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

#piepagina p {
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFAFA;
}

#piepagina ul {
    margin: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

#piepagina ul li {
    padding: 0 2%;
}

#piepagina ul li a {
    display: block;
    width: 43px;
    height: 43px;
    line-height: 40px;
    background-color: #d54c00;
    color: #FFFAFA;
    text-align: center;
    border: 2px solid white;
    font-size: 20px;
    transition: all 0.8s;
}

#piepagina ul li a:hover {
    background-color: #684815;
}